#chat {
    position: absolute;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 30%;
    height: 97%;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

#chatting {
    position: absolute;
    background-color: #FFFFFF;
    margin-top: 10px;
    right: 0;
    margin-right: 0.65%;
    width: 48%;
    height: 97%;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.number:visited, .number:link {
    text-decoration: none;
}

.contacts {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.number {
    height: 10%;
    color: black;
}

button.buttonnumber:hover {
    border-radius: 10px;
    background-color: #FFEBAD;
}

button.buttonnumber {
    position: relative;
    width: 100%;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.name {
    position: relative;
    float: left;
    margin-left: 20px;
    top: 5px;
    font-size: 17px;
    font-weight: bold;
}

.message {
    position: relative;
    float: left;
    left: 30px;
    bottom: 5px;
    text-align: left;
    display: block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.time {
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
}

.noneselected {
    position: relative;
    height: auto;
    top: 40%;
    font-weight: bold;
    font-size: 24px;
}

.contact_info {
    width: 100%;
    height: 73px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid black;
}

.perfil {
    text-align: center;
    top: 5px;
    left: 10px;
    width: 60px;
    height: 60px;
    float: left;
    position: relative;
    border: 1px solid black;
    background-color: #FFF6BF;
    border-radius: 100%;
}

.firstletter {
    position: relative;
    font-size: 24px;
    top: 17px;
}

.info {
    position: absolute;
    top: 10px;
    left: 80px;
}

.name_chat {
    font-weight: bold;
    font-size: 22px;
}

.order_info {
    font-size: 19px;
    top: 10px;
    right: 70px;
    float: right;
    position: relative;
}

a:visited, a:link, a {
    text-decoration: none;
}

a:hover {
    background-color: #FFEBAD;
}

.messages_chatbox {
    position: relative;
    height: calc(100% - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    background-color: #ABD9FF;
}

.text_input {
    border-top: 2px solid black;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    bottom: 0;
}

textarea {
    position: relative;
    float: left;
    resize: none;
    width: 88%;
    height: 47px;
    border-bottom-left-radius: 8px;
}

textarea:hover {
    background-color: #FFEBAD;
}

.send_text {
    position: relative;
    float: right;
    border-top: 2px solid black;
    width: 10%;
    border-bottom-right-radius: 8px;
}

.send {
    position: relative;
    margin-top: 10px;
    margin-right: 38%;
}

.buttonsend:hover {
    border-bottom-right-radius: 10px;
    background-color: #FFEBAD;
}

.buttonsend {
    position: relative;
    width: 100%;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.message_user, .message_system {
    position: relative;
    border: 2px solid black;
    width: 60%;
    margin-bottom: 2px;
    border-radius: 10px;
}

.message_user {
    background-color: #FFFFFF;
    left: 2%;
}

.message_system {
    background-color: #FFF6BF;
    left: 38%;
}

.message_user_chatbox, .message_system_chatbox {
    left: 5px;
    position: relative;
    font-size: 15px;
    font-family: 'Segoe UI';
}

.time_send_chatbox {
    position: relative;
    float: right;
    top: 1px;
    right: 5px;
    font-size: 12px;
    font-family: 'Segoe UI';
    opacity: 0.8;
}