Menu<br>

{% block content %}
<a href="{% url 'menu_add' %}"><button>Add Product</button></a>
<a href="{% url 'category_add' %}"><button>Add Category</button></a>
<a href="{% url 'category_manage' %}"><button>Manage Category</button></a>
<a href="{% url 'home' %}"><button type="button">Back</button></a>
{% for category, products in categories.items %}
{% if products.count > 0 %}
    <h1>{{ category.name }}</h1>
    {% for product in products %}
        <p>{{ product.name }} - ${{ product.price }} <a href="{% url 'edit_product' product.id %}"><button type="button">Edit</button></a>
        <a href="{% url 'delete_product' product.id %}"><button type="button">Delete</button></p></a>
    {% endfor %}
{% endif %}
{% endfor %}
{% endblock %}